<%- include("template/header",{tituloWeb:'Pagina de Prueba EJS'}) %>
<body>

    <h1>Informacion dinamica</h1>
    <p><%= nombre %></p>
    <p><%= apellido %></p>
    <p><%= edad %></p>
    <p><%= estudios %></p>
    
    
</body>
</html>