<%- include("template/rotulo") %>
<body>

    <h1 class="text-primary">Informacion dinamica</h1>
    <p><%= nombre %></p>
    <p><%= apellido %></p>
    <p><%= edad %></p>
    <p><%= estudios %></p>
    
    
</body>
</html>